In [4]:
#Ejericio 1
class coche:
  def __init__(self, marca, modelo, año):
      self.marca = marca
      self.modelo = modelo
      self.año = año

In [11]:
mi_coche = coche("BMW", "iX", 2024)
print(mi_coche.marca)
print(mi_coche.modelo)
print(mi_coche.año)

def mostrar_informacion(self):
  print(f"Marca: {self.marca}, Modelo: {self.modelo}, Año: {self.año}")

BMW
iX
2024

In [12]:
import numpy as np
np.random.seed(1)
np.random.binomial(1000, 0.5)

496

Supongamos que se lanzan dos dados juntos


$$\Omega = \{1,2,3,4,5,6\}\times\{1,2,3,4,5,6\}$$

In [15]:
import itertools
from itertools import product

Omega = set(product({1,2,3,4,5,6}, repeat = 2))
Omega
print(f"la cardinalidad del espacio muestral es: {len(Omega)}")

la cardinalidad del espacio muestral es: 36

Vamos a considerar al evento

$$S=\{(i,j)\in \Omega : i+j = 7\}$$

In [22]:
S ={om for om in Omega if (om[0]+ om[1])==7}
S

{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}

Las tuplas son objetos que se escriben:

$$(x_1, x_2, x_3,...,x_n)$$

In [17]:
type((1,2))

tuple

In [18]:
(1,2)[0]

1

In [27]:
from fractions import Fraction
def P(A, Omega):
  p = Fraction(len(A), len(Omega))
  return p

In [28]:
P(S,Omega)

Fraction(1, 6)

In [24]:
6/36

0.16666666666666666

In [26]:
Fraction(6,36)

Fraction(1, 6)

In [29]:
def S(n):
  S ={om for om in Omega if (om[0]+ om[1])==n}
  return S

In [31]:
for i in range(2,13):
    print(S(i))

{(1, 1)}
{(1, 2), (2, 1)}
{(3, 1), (1, 3), (2, 2)}
{(2, 3), (3, 2), (4, 1), (1, 4)}
{(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}
{(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}
{(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}
{(4, 5), (5, 4), (6, 3), (3, 6)}
{(4, 6), (6, 4), (5, 5)}
{(5, 6), (6, 5)}
{(6, 6)}

#Diccionarios

In [33]:
#Lanzan 100 monedas y cae aguila con probabilidad 0.6

estudiantes = {"Kevin": np.random.binomial(100, 0.6, 10),
               "Marina": np.random.binomial(100, 0.6, 10),
               "alvaro": np.random.binomial(100, 0.6, 10),
               "Roberto": np.random.binomial(100, 0.6, 10),
               "Godo": np.random.binomial(100, 0.6, 10),
               "Ceci": np.random.binomial(100, 0.6, 10),
               "Jaume": np.random.binomial(100, 0.6, 10),
               "Marifer": np.random.binomial(100, 0.6, 10)}
estudiantes

{'Kevin': array([62, 58, 59, 57, 63, 65, 67, 59, 59, 59]),
 'Marina': array([63, 61, 57, 65, 61, 61, 48, 56, 65, 58]),
 'alvaro': array([64, 61, 61, 57, 63, 51, 63, 54, 49, 55]),
 'Roberto': array([62, 65, 67, 65, 58, 51, 67, 58, 51, 64]),
 'Godo': array([56, 60, 61, 60, 62, 53, 53, 68, 62, 60]),
 'Ceci': array([60, 61, 62, 66, 62, 61, 61, 59, 57, 62]),
 'Jaume': array([62, 58, 62, 55, 61, 61, 56, 62, 51, 51]),
 'Marifer': array([56, 52, 60, 58, 61, 67, 59, 64, 61, 68])}

In [35]:
import pandas as pd
index = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(estudiantes)
df

   Kevin  Marina  alvaro  Roberto  Godo  Ceci  Jaume  Marifer
0     62      63      64       62    56    60     62       56
1     58      61      61       65    60    61     58       52
2     59      57      61       67    61    62     62       60
3     57      65      57       65    60    66     55       58
4     63      61      63       58    62    62     61       61
5     65      61      51       51    53    61     61       67
6     67      48      63       67    53    61     56       59
7     59      56      54       58    68    59     62       64
8     59      65      49       51    62    57     51       61
9     59      58      55       64    60    62     51       68

In [36]:
#¿como puedo elegir  que numero salio en 3 lanzamiento"
df["Kevin"][3]

57

In [37]:
df.iloc[2]["Kevin"]

59

In [38]:
df["Kevin"]

0    62
1    58
2    59
3    57
4    63
5    65
6    67
7    59
8    59
9    59
Name: Kevin, dtype: int64

In [39]:
dic = { i: P(S(i),Omega)for i in range(2,13)}
dic

{2: Fraction(1, 36),
 3: Fraction(1, 18),
 4: Fraction(1, 12),
 5: Fraction(1, 9),
 6: Fraction(5, 36),
 7: Fraction(1, 6),
 8: Fraction(5, 36),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 11: Fraction(1, 18),
 12: Fraction(1, 36)}

In [41]:
descriptive = df.describe()
descriptive

,Kevin,Marina,alvaro,Roberto,Godo,Ceci,Jaume,Marifer
count,10.00000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,60.80000,59.50000,57.800000,60.800000,59.500000,61.100000,57.900000,60.600000
std,3.29309,5.08265,5.370702,6.069962,4.527693,2.330951,4.433459,4.857983
min,57.00000,48.00000,49.000000,51.000000,53.000000,57.000000,51.000000,52.000000
25%,59.00000,57.25000,54.250000,58.000000,57.000000,60.250000,55.250000,58.250000
50%,59.00000,61.00000,59.000000,63.000000,60.000000,61.000000,59.500000,60.500000
75%,62.75000,62.50000,62.500000,65.000000,61.750000,62.000000,61.750000,63.250000
max,67.00000,65.00000,64.000000,67.000000,68.000000,66.000000,62.000000,68.000000

In [42]:
descriptive.iloc[7]

Kevin      67.0
Marina     65.0
alvaro     64.0
Roberto    67.0
Godo       68.0
Ceci       66.0
Jaume      62.0
Marifer    68.0
Name: max, dtype: float64

In [43]:
descriptive.iloc[7].max()

68.0

In [47]:
np.random.choice(["Godo", "Ceci"]) #elige un nombre o numero al azar

'Ceci'